<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>Analysis</h1>
    <hr>
    <h3><u>Query</u> : {{query}}</h3>
    <h4><u>Query in Root form</u> : {{query_root}}</h4>
    <h4><u>Synonyms in query</u> : {{synonym}}</h4>
    <h4><u>Ngrams considered</u> : {{ngram}}</h4>
    <h4><u>Suggestions in query</u> : {{suggestion}}</h4>
    <hr>
    <ul>
    <h3><u>Result Scores</u> : </h3>
    {% for k,v in result_score.items()%}
    <li>{{k}} : <b>{{v}}</b></li>
    {% endfor %}
    <ul>

     <br><br><br>


    <div id="container" style="min-width: 310px; height:400px; margin:0 auto"></div>



</head>
<body>

</body>
</html>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
    Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Ranking Score Analysis'
    },
    xAxis: {

        categories: ['Page 1', 'Page 2', 'Page 3', 'Page 4', 'Page 5', 'Page 6', 'Page 7', 'Page 8', 'Page 9', 'Page 10']
    },
    yAxis: {
        title: {
            text: 'Page Score'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        data: {{score}}
    }]
});
</script>